* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', Arial, sans-serif;
    background-color: #eff1f3;
    color: #333;
}

/* Estilo para o checkout */
.checkout-section {
    padding: 40px 0;
    text-align: center;
    padding-bottom: 0;
}

.container-header {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    background-color: #fefefec2;
    border: 1px solid #e0e0e0;
    padding: 15px 15px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.product-info img {
    margin-left: 15px;
    max-width: 100px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-info h2 {
    display: flex;
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 49px;
}

.product-info p {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    text-align: start;
    word-wrap: break-word;

}

.input-group {
    margin-top: 12px;
    margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #cfd8de;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;

}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="tel"]:focus,
.input-group select:focus {
    outline: none;
    border-color: #007bff;
}

.input-group input[type="text"]::placeholder,
.input-group input[type="email"]::placeholder,
.input-group input[type="tel"]::placeholder,
.input-group select::placeholder {
    color: #3c3c3c;
}

.payment-methods {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.payment-option {
    padding: 20px 40px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}

#card-option {
    padding: 20px 25px;
}

.payment-option i {
    margin-right: 9px;
}

.payment-option span {
    font-family: 'poppins', sans-serif;
    font-weight: lighter;
}

.payment-option:hover {
    border-color: #04ca56;
    background-color: #f7f7f7;
}

.payment-details {
    text-align: left;
    margin-bottom: 20px;
    border-radius: 8px;
}

.payment-details p {
    margin-bottom: 10px;
}

.payment-details select {
    width: calc(50% - 5px);
    margin-right: 5px;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    transition: all 0.3s ease;
}

.payment-details select:focus {
    outline: none;
    border-color: #007bff;
}

.Btn {
    width: 330px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #04ca56;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
}

.svgIcon {
    width: 19px;
}

.svgIcon path {
    fill: rgb(255, 255, 255);

}

.Btn::before {
    width: 330px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: #001000;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: overlay;
}

.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.payment-success {
    display: none;
    text-align: center;
}

.payment-success ol {
    text-align: left;
    margin-bottom: 20px;
}

.qr-code {
    margin-bottom: 20px;
}

.total {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.espaço {
    margin-top: 30px;
}